{% extends layout ?: "@PayumCore/layout.html.twig" %}
{% block payum_stylesheets %}
	{{ parent() }}
	<style type="text/css" media="screen, projection">
		* {
			margin: 0;
			padding: 0;
		}

		body {
			background: #FFF;
			color: #000;
			font: 0.9em "Helvetica";
		}

		fieldset {
			border: none;
			padding: 1em;
			margin: 10px;
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		.form-row {
			display: flex;
			align-items: flex-start;
			gap: 1rem;
		}

		.form-field {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
		}

		label {
			width: 80px;
			margin-right: 10px;
			flex-shrink: 0;
		}

		input,
		select {
			font-size: 1em;
			border: 1px solid #000;
			padding: 0.1em;
		}

		select {
			margin-right: 10px;
		}

		input {
			width: 175px;
		}

		.inputIframe {
			flex: 1;
		}

		.submit-container {
			display: flex;
			justify-content: flex-start;
			margin-top: 10px;
		}

		#paymentsubmit {
			width: auto;
			padding: 0.75rem 1rem;
			margin-right: 10px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;
			transition-property: color, background-color;
			outline: none;
			pointer-events: auto;
			background-color: #D3002A;
			color: white;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 0.875rem;
			line-height: 1.25rem;
			border-radius: 0.25rem;
			border: none;
			cursor: pointer;
		}

		#paymentsubmit:hover {
			background-color: #bb0025;
		}

		#paymentsubmit:disabled {
			cursor: not-allowed;
			opacity: 0.6;
		}

		#errorOutput {
			text-align: center;
			color: #D3002A;
			display: block;
			margin-bottom: 10px;
		}

		#cardlogo {
			width: 50px;
			height: 50px;
		}

		#cardlogo svg {
			width: 100%;
			height: 100%;
		}

		.expire-month {
			flex-basis: 100px;
		}
		.expire-year {
			flex-basis: 100px;
			flex-grow: 1;
		}
		.expire-label {
			margin-bottom: 1rem;
		}

		#cardcvc2 {
			max-width: 100px;
		}
	</style>
{% endblock %}
{% block payum_body %}
	{{ parent() }}
	<form name="paymentform" action="{{ actionUrl }}" method="post">
		<fieldset>
			<input type="hidden" name="pseudocardpan" id="pseudocardpan">
			<input
			type="hidden" name="truncatedcardpan" id="truncatedcardpan">
			<!-- place your input fields -->
			<div class="form-field">
				<label for="cardpan">
					{% if language == 'en'%}
						Cardpan:
					{% elseif language == 'de' %}
						Kartennummer:
					{% endif %}
				</label>
				<div class="form-row">
					<span id="cardpan" class="inputIframe"></span>
					<span id="cardlogo"></span>
				</div>
			</div>
			<div class="form-field">
				<label for="cardcvc2">
					{% if language == 'en'%}
						CVC:
					{% elseif language == 'de' %}
						Sicherheitscode:
					{% endif %}
				</label>
				<span id="cardcvc2" class="inputIframe"></span>
			</div>
			<div class="form-field">
				<label for="cardexpiremonth" class="expire-label">
					{% if language == 'en'%}
						Expire Date:
					{% elseif language == 'de' %}
						Ablaufdatum:
					{% endif %}
				</label>
				<div class="form-row">
					<div class="form-field expire-month">
						<label for="cardexpiremonth">
							{% if language == 'en'%}
								Month:
							{% elseif language == 'de' %}
								Monat:
							{% endif %}
						</label>
						<span id="cardexpiremonth"></span>
					</div>
					<div class="form-field expire-year">
						<label for="cardexpireyear">
							{% if language == 'en'%}
								Year:
							{% elseif language == 'de' %}
								Jahr:
							{% endif %}
						</label>
						<span id="cardexpireyear"></span>
					</div>
				</div>
			</div>
			<div id="errorOutput"></div>
			<div class="submit-container">
				<input id="paymentsubmit" type="button" value={% if $language == 'en' %}"Submit"{% elseif $language == 'de' %}"Absenden"{% endif %} onclick="check();">
			</div>
		</fieldset>
	</form>
{% endblock %}
{% block payum_vendor_javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://secure.pay1.de/client-api/js/v1/payone_hosted_min.js"></script>
{% endblock %}
{% block payum_javascripts %}
	{{ parent() }}
	<script>
		{% autoescape 'js' %}

				var request, config;
				config = {
				fields: {
					cardpan: {
					selector: "cardpan",
					type: "text",
					iframe: {
						width: "100%",
					},
					},
					cardcvc2: {
					selector: "cardcvc2",
					type: "password",
					size: "4",
					maxlength: "4",
					iframe: {
						width: "100%",
					},
					},
					cardexpiremonth: {
					selector: "cardexpiremonth",
					type: "text",
					size: "2",
					maxlength: "2",
					iframe: {
						width: "100%",
					},
					},
					cardexpireyear: {
					selector: "cardexpireyear",
					type: "text",
					size: "4",
					maxlength: "4",
					iframe: {
						width: "100%",
					},
					},
				},
				autoCardtypeDetection: {
					supportedCardtypes: ["V", "M"],
					callback: function (detectedCardtype) {
					if (detectedCardtype === "V") {
						document.getElementById("cardlogo").innerHTML = `
												<svg
													xmlns:dc="http://purl.org/dc/elements/1.1/"
													xmlns:cc="http://creativecommons.org/ns#"
													xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
													xmlns:svg="http://www.w3.org/2000/svg"
													xmlns="http://www.w3.org/2000/svg"
													xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
													xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
													version="1.1"
													id="Layer_1"
													x="0px"
													y="0px"
													viewBox="0 0 1000.046 323.653"
													enable-background="new 0 0 258.381 161.154"
													xml:space="preserve"
													inkscape:version="0.91 r13725"
													sodipodi:docname="Visa_2006.svg"
												>
													<metadata id="metadata23">
														<rdf:RDF
															><cc:Work rdf:about=""
																><dc:format>image/svg+xml</dc:format
																><dc:type
																	rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work
														></rdf:RDF>
													</metadata>
													<defs id="defs21"></defs>
													<sodipodi:namedview
														pagecolor="#ffffff"
														bordercolor="#666666"
														borderopacity="1"
														objecttolerance="10"
														gridtolerance="10"
														guidetolerance="10"
														inkscape:pageopacity="0"
														inkscape:pageshadow="2"
														inkscape:window-width="1366"
														inkscape:window-height="705"
														id="namedview19"
														showgrid="false"
														inkscape:zoom="0.35355339"
														inkscape:cx="34.690897"
														inkscape:cy="131.15483"
														inkscape:window-x="-8"
														inkscape:window-y="-8"
														inkscape:window-maximized="1"
														inkscape:current-layer="Layer_1"
													/>
													<g
														id="g4158"
														transform="matrix(4.4299631,0,0,4.4299631,-81.165783,-105.04783)"
													>
														<polygon
															points="116.145,95.719 97.858,95.719 109.296,24.995 127.582,24.995 "
															id="polygon9"
															style="fill: #00579f"
														/>
														<path
															d="m 182.437,26.724 c -3.607,-1.431 -9.328,-3.011 -16.402,-3.011 -18.059,0 -30.776,9.63 -30.854,23.398 -0.15,10.158 9.105,15.8 16.027,19.187 7.075,3.461 9.48,5.72 9.48,8.805 -0.072,4.738 -5.717,6.922 -10.982,6.922 -7.301,0 -11.213,-1.126 -17.158,-3.762 l -2.408,-1.13 -2.559,15.876 c 4.289,1.954 12.191,3.688 20.395,3.764 19.188,0 31.68,-9.481 31.828,-24.153 0.073,-8.051 -4.814,-14.22 -15.35,-19.261 -6.396,-3.236 -10.313,-5.418 -10.313,-8.729 0.075,-3.01 3.313,-6.093 10.533,-6.093 5.945,-0.151 10.313,1.278 13.622,2.708 l 1.654,0.751 2.487,-15.272 0,0 z"
															id="path11"
															inkscape:connector-curvature="0"
															style="fill: #00579f"
														/>
														<path
															d="m 206.742,70.664 c 1.506,-4.063 7.301,-19.788 7.301,-19.788 -0.076,0.151 1.503,-4.138 2.406,-6.771 l 1.278,6.094 c 0,0 3.463,16.929 4.215,20.465 -2.858,0 -11.588,0 -15.2,0 l 0,0 z m 22.573,-45.669 -14.145,0 c -4.362,0 -7.676,1.278 -9.558,5.868 l -27.163,64.855 19.188,0 c 0,0 3.159,-8.729 3.838,-10.609 2.105,0 20.771,0 23.479,0 0.525,2.483 2.182,10.609 2.182,10.609 l 16.932,0 -14.753,-70.723 0,0 z"
															id="path13"
															inkscape:connector-curvature="0"
															style="fill: #00579f"
														/>
														<path
															d="M 82.584,24.995 64.675,73.222 62.718,63.441 C 59.407,52.155 49.023,39.893 37.435,33.796 l 16.404,61.848 19.338,0 28.744,-70.649 -19.337,0 0,0 z"
															id="path15"
															inkscape:connector-curvature="0"
															style="fill: #00579f"
														/>
														<path
															d="m 48.045,24.995 -29.422,0 -0.301,1.429 c 22.951,5.869 38.151,20.016 44.396,37.02 L 56.322,30.94 c -1.053,-4.517 -4.289,-5.796 -8.277,-5.945 l 0,0 z"
															id="path17"
															inkscape:connector-curvature="0"
															style="fill: #faa61a"
														/>
													</g>
												</svg>
												`;
					} else if (detectedCardtype === "M") {
						document.getElementById("cardlogo").innerHTML = `
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 146.8 120.41">
														<defs>
															<style>
																.cls-1 {
																	fill: none;
																}
																.cls-2 {
																	fill: #231f20;
																}
																.cls-3 {
																	fill: #ff5f00;
																}
																.cls-4 {
																	fill: #eb001b;
																}
																.cls-5 {
																	fill: #f79e1b;
																}
															</style>
														</defs>
														<title>mc_vrt_rgb_pos</title>
														<g id="Layer_2" data-name="Layer 2">
															<g id="Layer_1-2" data-name="Layer 1">
																<rect class="cls-1" width="146.8" height="120.41" />
																<path
																	class="cls-2"
																	d="M36.35,105.26v-6a3.56,3.56,0,0,0-3.76-3.8,3.7,3.7,0,0,0-3.36,1.7,3.51,3.51,0,0,0-3.16-1.7,3.16,3.16,0,0,0-2.8,1.42V95.7H21.19v9.56h2.1V100a2.24,2.24,0,0,1,2.34-2.54c1.38,0,2.08.9,2.08,2.52v5.32h2.1V100a2.25,2.25,0,0,1,2.34-2.54c1.42,0,2.1.9,2.1,2.52v5.32ZM67.42,95.7H64V92.8h-2.1v2.9H60v1.9h1.94V102c0,2.22.86,3.54,3.32,3.54a4.88,4.88,0,0,0,2.6-.74l-.6-1.78a3.84,3.84,0,0,1-1.84.54c-1,0-1.38-.64-1.38-1.6V97.6h3.4Zm17.74-.24a2.82,2.82,0,0,0-2.52,1.4V95.7H80.58v9.56h2.08V99.9c0-1.58.68-2.46,2-2.46a3.39,3.39,0,0,1,1.3.24l.64-2a4.45,4.45,0,0,0-1.48-.26Zm-26.82,1a7.15,7.15,0,0,0-3.9-1c-2.42,0-4,1.16-4,3.06,0,1.56,1.16,2.52,3.3,2.82l1,.14c1.14.16,1.68.46,1.68,1,0,.74-.76,1.16-2.18,1.16a5.09,5.09,0,0,1-3.18-1l-1,1.62a6.9,6.9,0,0,0,4.14,1.24c2.76,0,4.36-1.3,4.36-3.12s-1.26-2.56-3.34-2.86l-1-.14c-.9-.12-1.62-.3-1.62-.94s.68-1.12,1.82-1.12a6.16,6.16,0,0,1,3,.82Zm55.71-1a2.82,2.82,0,0,0-2.52,1.4V95.7h-2.06v9.56h2.08V99.9c0-1.58.68-2.46,2-2.46a3.39,3.39,0,0,1,1.3.24l.64-2a4.45,4.45,0,0,0-1.48-.26Zm-26.8,5a4.83,4.83,0,0,0,5.1,5,5,5,0,0,0,3.44-1.14l-1-1.68a4.2,4.2,0,0,1-2.5.86,3.07,3.07,0,0,1,0-6.12,4.2,4.2,0,0,1,2.5.86l1-1.68a5,5,0,0,0-3.44-1.14,4.83,4.83,0,0,0-5.1,5Zm19.48,0V95.7h-2.08v1.16a3.63,3.63,0,0,0-3-1.4,5,5,0,0,0,0,10,3.63,3.63,0,0,0,3-1.4v1.16h2.08Zm-7.74,0a2.89,2.89,0,1,1,2.9,3.06,2.87,2.87,0,0,1-2.9-3.06Zm-25.1-5a5,5,0,0,0,.14,10A5.81,5.81,0,0,0,78,104.16l-1-1.54a4.55,4.55,0,0,1-2.78,1,2.65,2.65,0,0,1-2.86-2.34h7.1c0-.26,0-.52,0-.8,0-3-1.86-5-4.54-5Zm0,1.86a2.37,2.37,0,0,1,2.42,2.32h-5a2.46,2.46,0,0,1,2.54-2.32ZM126,100.48V91.86H124v5a3.63,3.63,0,0,0-3-1.4,5,5,0,0,0,0,10,3.63,3.63,0,0,0,3-1.4v1.16H126Zm3.47,3.39a1,1,0,0,1,.38.07,1,1,0,0,1,.31.2,1,1,0,0,1,.21.3.93.93,0,0,1,0,.74,1,1,0,0,1-.21.3,1,1,0,0,1-.31.2.94.94,0,0,1-.38.08,1,1,0,0,1-.9-.58.94.94,0,0,1,0-.74,1,1,0,0,1,.21-.3,1,1,0,0,1,.31-.2A1,1,0,0,1,129.5,103.87Zm0,1.69a.71.71,0,0,0,.29-.06.75.75,0,0,0,.23-.16.74.74,0,0,0,0-1,.74.74,0,0,0-.23-.16.72.72,0,0,0-.29-.06.75.75,0,0,0-.29.06.73.73,0,0,0-.24.16.74.74,0,0,0,0,1,.74.74,0,0,0,.24.16A.74.74,0,0,0,129.5,105.56Zm.06-1.19a.4.4,0,0,1,.26.08.25.25,0,0,1,.09.21.24.24,0,0,1-.07.18.35.35,0,0,1-.21.09l.29.33h-.23l-.27-.33h-.09v.33h-.19v-.88Zm-.22.17v.24h.22a.21.21,0,0,0,.12,0,.1.1,0,0,0,0-.09.1.1,0,0,0,0-.09.21.21,0,0,0-.12,0Zm-11-4.06a2.89,2.89,0,1,1,2.9,3.06,2.87,2.87,0,0,1-2.9-3.06Zm-70.23,0V95.7H46v1.16a3.63,3.63,0,0,0-3-1.4,5,5,0,0,0,0,10,3.63,3.63,0,0,0,3-1.4v1.16h2.08Zm-7.74,0a2.89,2.89,0,1,1,2.9,3.06A2.87,2.87,0,0,1,40.32,100.48Z"
																/>
																<g id="_Group_" data-name="&lt;Group&gt;">
																	<rect
																		class="cls-3"
																		x="57.65"
																		y="22.85"
																		width="31.5"
																		height="56.61"
																	/>
																	<path
																		id="_Path_"
																		data-name="&lt;Path&gt;"
																		class="cls-4"
																		d="M59.65,51.16A35.94,35.94,0,0,1,73.4,22.85a36,36,0,1,0,0,56.61A35.94,35.94,0,0,1,59.65,51.16Z"
																	/>
																	<path
																		class="cls-5"
																		d="M131.65,51.16A36,36,0,0,1,73.4,79.46a36,36,0,0,0,0-56.61,36,36,0,0,1,58.25,28.3Z"
																	/>
																	<path
																		class="cls-5"
																		d="M128.21,73.46V72.3h.47v-.24h-1.19v.24H128v1.16Zm2.31,0v-1.4h-.36l-.42,1-.42-1H129v1.4h.26V72.41l.39.91h.27l.39-.91v1.06Z"
																	/>
																</g>
															</g>
														</g>
													</svg>
													`;
					} else {
						document.getElementById("cardlogo").innerHTML = "";
						if (detectedCardtype === "?") {
						// Card type not detected
						document.getElementById("errorOutput").innerHTML =
							"Unknown card type";
						} else if (detectedCardtype === "-") {
						// Card type detected but not in supportedCardtypes
						console.log("Card type detected but not supported");
						// show error
						document.getElementById("errorOutput").innerHTML =
							"Card type detected but not supported";
						}
					}
					},
					// deactivate: false // Optional: set to true to disable auto detection
				},
				defaultStyle: {
					input:
					"width: 100%; transition-property: color, background-color, border-color; display: flex; align-items: center; overflow: hidden; border: 1px solid #bfc7cf; background-color: #f6f7f8; height: 3rem; font-size: 1rem; border-radius: 0.125rem; padding: 0 0.5rem;",
					inputFocus:
					"width: 100%; transition-property: color, background-color, border-color; display: flex; align-items: center; overflow: hidden; border: 1px solid #424d57; background-color: #f6f7f8; height: 3rem; font-size: 1rem; border-radius: 0.125rem; padding: 0 0.5rem; outline: none;",
					iframe: {
					height: "50px",
					width: "180px",
					},
				},
				error: "errorOutput", // area to display error-messages (optional)
				language: Payone.ClientApi.Language.{{ language|raw }} // Language to display error-messages
				};
				request = {
					request: "{{ params.request }}", // fixed value
					responsetype: "{{ params.responsetype }}", // fixed value
					mode: "{{ params.mode }}", // desired mode
					mid: "{{ params.mid }}", // your MID
					aid: "{{ params.aid }}", // your AID
					portalid: "{{ params.portalid }}", // your PortalId
					encoding: "{{ params.encoding }}", // desired encoding
					storecarddata: "{{ params.storecarddata }}",
					// fixed value
					// hash calculated over your request-parameter-values (alphabetical request-order) plus PMI portal key
					// hash: '1cf456bf692453613ebb992a3fb859cc347ddc7e94e2ca764efbe8b0089de6964ab1266df0831e59de89dc5291070fe7'
					hash: "{{ hash }}", // see Chapter 3.1.5.3
				};
				Payone.ClientApi.Language.en.placeholders.expireMonth = "MM";
				Payone.ClientApi.Language.en.placeholders.expireYear = "YYYY";
				Payone.ClientApi.Language.de.placeholders.expireMonth = "MM";
				Payone.ClientApi.Language.de.placeholders.expireYear = "JJJJ";

				var iframes = new Payone.ClientApi.HostedIFrames(config, request);
				var isProcessing = false;
				
				function check() {
				// Function called by submitting PAY-button
				if (isProcessing) {
					return;
				}
				
				if (iframes.isComplete()) {
					isProcessing = true;
					var submitButton = document.getElementById("paymentsubmit");
					var originalText = submitButton.value;
					
					submitButton.disabled = true;
					
					iframes.creditCardCheck("checkCallback");
					// Perform "CreditCardCheck" to create and get a
					// PseudoCardPan; then call your function "checkCallback"
					
				
				} else {
					console.debug("not complete");
				}
				}
				async function checkCallback(response) {
				console.debug("checkCallback", response);
				
				if (response.status === "VALID") {
					document.getElementById("pseudocardpan").value = response.pseudocardpan;
					document.getElementById("truncatedcardpan").value =
					response.truncatedcardpan;
					if (window.parent) {
					window.parent.postMessage(
						{
						type: "PAYONE_CARD_PAN",
						pseudocardpan: response.pseudocardpan,
						truncatedcardpan: response.truncatedcardpan,
						actionUrl: document.paymentform.action,
						},
						"*"
					);
					} else {
					console.debug("no parent");
					}
				
				} else {
					document.getElementById("errorOutput").innerHTML = response.customermessage || "Payment processing failed. Please try again.";
				}
					setTimeout(() => {
					var submitButton = document.getElementById("paymentsubmit");
					isProcessing = false;
					submitButton.disabled = false;
					}, 2000);
				}

		
		{% endautoescape %}

	</script>
{% endblock %}
